//
  Variables temporaires pour simuler l'application dynamique
-
  var habilite = 10;
  var endurance = 5;
  var PO = 45;
  var disciplinesKai = ['Orientation','Chasse','Guérison'];
  var sac = ['Glaive','Sabre']
  var objetsSpeciaux = ['Potion']

section(class='pageDeJeu')
  div(class='scrollable')
    h3 Page de jeu
    ul(class="categories")
      li Caractéristiques
        ul(class="items")
          li Habilité : #{habilite}
          li Endurance : #{endurance}
          li Pièces d'or : #{PO}
  
       li Disciplines Kai  
          ul(class="items")
            each val in disciplinesKai
              li= val
        
       li Equipement
         ul(class="items")
           each val in sac
             li= val
        
       li Objets spéciaux
         ul(class="items")
            each val in objetsSpeciaux
              li= val
 
